<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="../static/login.css">
    <script src="../static/js/login_func.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

<body >
		<div class="container">
		    <div class="row">
		        <div >
		            <form>
		                 <h2 class="text-center">Enter Username</h2>
		                <br/>
		                <div class="form-group">
		                    <input type="text" class="form-control"  id="username">
		                </div>
		                <br/>
		            </form>
		         <div class="align-center">
		                    <button class="btn btn-default"  onclick="username()" >submit</button>
		                    <!--  input class="btn btn-default" type="submit" value="LoginS"-->
		         </div>
		        </div>
		    </div>
		</div>
		
		
<style type="text/css">
   body { background: grey !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>
</body>
</html>